<div class="container main-container">
  <div class="row">
    <div class="carousel-inner">
      <carousel>
        <slide>
          <div class="item active">
            <img src="http://placehold.it/1200x500/16a085/ffffff&text=Sucesso!">
            <div class="carousel-caption">
              <h3>Acredite em você!</h3>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="item active">
            <img src="http://placehold.it/1200x500/e67e22/ffffff&text=Persistência">
            <div class="carousel-caption">
              <h3>Sempre tenha uma meta a pequeno, médio e longo prazo!</h3>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="item active">
            <img src="http://placehold.it/1200x500/2980b9/ffffff&text=Superação">
            <div class="carousel-caption">
              <h3>Nunca desista dos seus sonhos!</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr.</p>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
